.heading{
    border: 10px solid red;
    background: red;
    border-radius: 10px;
    margin: 200px;
}
.container{
    height: 480px;
    width: 480px;
    border: 10px solid red;
    border-radius: 10px;
    margin: 200px 200px 200px 200px;
}

.container div{
    width: 60px;
    height: 60px;
    outline: 1px solid;
    float: left;
}

